
<!-- KEEP OR DESTROY? -->

<%# navig links %>
    <li class="name">
      <%= link_to 'HOME', root_path %>
    </li>

    <li class="name menu-icon">
      <%= link_to 'HOME_2', root_path %>
    </li>

    <li class="name menu-icon">
      <%= link_to 'HOME_3', root_path %>
    </li>

    <li class="name">
      <%= link_to 'HOME_4', root_path %>
    </li>

    <li class="name">
      <%= link_to 'HOME_5', root_path %>
    </li>

    <li class="name">
      <%= link_to 'HOME_6', root_path %>
    </li>
