
<div class="home-updates">
<% if user_signed_in? %>
  <h2>Update Feed</h2>
  <hr>

  <div class="post-new">
    <%= link_to "Post New Update", new_update_path, class: "button tiny round" %>
  </div>

  <div class="update">
    <% @updates.each do |u| %>
    <div class="update-topper panel">
      <h5><%= u.user.profile_name %>:</h5>
      <%= "Posted " + time_ago_in_words(u.created_at) + " ago" %>

      <p class="panel callout radius"><%= u.content %></p>
    </div>

    <div class="options">
      <ul class="ops sub-nav">
        <li>
          <%= link_to "Show", u, class: "warning tiny button radius" %>
        </li>
        <li class="admin">
          <%= link_to "Edit", edit_update_path(u), class: "secondary tiny button radius" %>
        </li>
        <li class="admin">
          <%= link_to "Destroy", u, method: :DELETE, data: { confirm: "Are you sure?" }, class: "alert tiny button radius" %>
        </li>
      </ul>
    </div>
    <% end %>
  </div>

<% else %>

  <br>
  <div class="row">
    <%= link_to "Sign In", new_user_session_path, class: "button radius small-centered columns" %>
    <%= link_to "Join Us", new_user_registration_path, class: "button radius small-centered columns" %>
  </div>
<% end %>
</div>
