
<div class="show-update">
<% if user_signed_in? %>
  <h2>Show Update</h2>
  <hr>

  <div class="back">
    <%= link_to "Back", updates_path, class: "button tiny round" %>
  </div>

  <div class="update">
    <div class="update-topper panel">
    <h5><%= @update.user.profile_name %> –
    <em><%= @update.user.full_name %></em>:</h5>
    <%= "Posted " + time_ago_in_words(@update.created_at) + " ago" %>

    <p class="panel callout radius"><%= @update.content %></p>
    </div>
  </div>

  <div class="options">
    <ul class="ops sub-nav">
      <% if signed_in? && @update.user == current_user %>
        <li class="admin">
          <%= link_to "Edit", edit_update_path(@update), class: "warning tiny button radius" %>
        </li>
        <li class="admin">
          <%= link_to "Destroy", @update, method: :delete, data: { confirm: "Are you sure?" }, class: "alert tiny button radius" %>
        </li>
      <% end %>
    </ul>
  </div>
<% end %>
</div>
