
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title><%= content_for?(:title) ? yield(:title) : "Doppl" %></title>

    <%= stylesheet_link_tag    "application", media: "all", 'data-turbolinks-track' => true %>
    <%= javascript_include_tag "vendor/modernizr" %>
    <%= javascript_include_tag "application", 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
    <%= favicon_link_tag "toolbar-16x16.png" %>
  </head>

  <body class="<%= "#{params[:controller].gsub("devise/", "") }" %>">
    <div class="container">
      <%= render "layouts/navigation" %>
      <%= render "layouts/messages" %>
    </div>

    <div class="wrapper">
      <%- if user_signed_in? %>
      <% end -%>

      <%= yield %>
    </div>
    <%= render "layouts/footer" %>
  </body>
</html>
